@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');


/*SHARED CODE AMONG PAGES*/
:root {
  /*BASE COLORS*/
  --tourist-color: #ff6b6b;
  --driver-color: #4ecdc4;
  --dark-bg: #222;
  --text-white: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--text-white);
  overflow-x: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  background-image: 
    linear-gradient(rgba(58, 58, 58, 0.8), rgba(2, 2, 2, 0.904)), /* Top Layer: 60% Dark Tint */
    url('Pictures/athens.webp');

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

/*CODE FOR MAIN PAGE*/
.home-container {
  width: auto;
  height: auto;

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}

.Links-Main{
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.Links-Main button{
  margin: 0px 12px 0px 12px;
}

/*CSS OF TOP RIGHT ICON, SHARED ACROSS ALL PAGES*/
.Helper{
  position: absolute;
  right: 15px;
  top: 15px;

  width: 50px;
  height: 50px;
  border-radius: 26px;

  background-color: rgba(0, 0, 0, 0.144);
  border: 1px solid rgb(0, 0, 0);

  font-size: 14px;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  transition: 0.25s;

  z-index: 101;
}

.Helper:hover{
  border: 1px solid rgba(0, 102, 255, 0.744);
  background-color: rgba(70, 68, 68, 0.144);
  cursor: pointer;
}

.Help-Main{
  position: absolute;
  right: 60px;
  top: 15px;

  border-radius: 12px;

  width: 0px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 18px;
  font-weight: bold;
  background-color: rgba(5, 5, 5, 0.418);
  border: 2px solid rgba(0, 0, 0, 0.301);

  opacity: 0;

  transition: 1.15s;
}

.Help-Main.active{
  width: 450px;
  opacity: 1;
  right: 85px;

}


/* Shared code among all pages*/ 
.footer{
  width: 100vw;
  height: 60px;
  background-color: rgb(71, 70, 70);

  position: absolute;
  bottom: 0px;
  left: 0px;

  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
}

/*DRIVER*/
.CENTER-OPTIONS{
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;

  font-size: 32px;
  font-weight: 600;
}

.Options-Driver{
  width: 400px;
  height: 400px;

  position: relative;
  right: 20px;
  bottom: 20px;

  display: flex;
  margin: 25px;
  flex-direction: row;
}

.option-box{
  width: 200px;
  height: 200px;
  font-size: 26px;
  margin: 10px;

  padding: 12px;

  border-radius: 32px;
  background-color: rgba(32, 32, 32, 0.43);
  border: 3px solid rgba(0, 0, 0, 0.295);

  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);

  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.692);

  font-size: px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-weight: 700;

  transition: 0.35s;

  color: white;
}

.option-box:hover{
  border: 1px solid rgba(0, 102, 255, 0.884);
  background-color: rgba(32, 32, 32, 0.8);
  cursor: pointer;
}

.exit-button{
  width : 140px;
  height: 50px;
  
  font-size: 18px;
}

/*PASSANGER DASHBOARD CODE*/

.Pass-Dash{
  width: 450px;
  height: 100px;
  background-color: rgba(255, 240, 240, 0.096);

  border: 3px solid rgba(0, 0, 0, 0.45);

  box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.56);
  
  /*CODE TO CENTER IT OVER THE PASSANGER TAB*/
  position: absolute;
  left: 50%;
  top: -3px;
  transform: translateX(-50%);

  border-radius: 0px 0px 12px 12px;
}

.Next-Stop-1{
  font-size: 32px;
  color: rgba(255, 22, 22, 0.678);
  position: absolute;
  left: 50%;
  top: 2px;
  transform: translateX(-50%);
}

.Next-Stop-2{
  font-size: 22px;
  color: rgba(255, 255, 255, 0.658);
   position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50px;
}

/*Driver dashBoard*/

.Dri-Dash{
  width: 170px;
  height: 488px;
  background-color: rgba(77, 73, 73, 0.21);
  border: 3px solid rgba(0, 0, 0, 0.24);

  box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.32);

  border-radius: 0px 0px 12px 0px;

  position: absolute;
  left: -3px;
  top: -3px;
}

.Box{
  width: 150px;
  height: 150px;
  background-color: rgba(255, 251, 251, 0.05);
  border-radius: 12px;
  margin: 7px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;

  font-size: 24px;

  text-shadow: 2px 2px 12px black;
}

/* DRIVER VIEW CSS */

.Video-Driver{
  width: 780px;
  height: 520px;
  border-radius: 12px;

  border: 4px solid rgba(0, 0, 0, 0.434);
}

.Go-Back{
  width: 120px;
  height: 40px;
  background-color: rgba(37, 36, 36, 0.19);

  border-radius: 4px;
  border: 2px solid rgba(0, 0, 0, 0.493);

  margin-top: 20px;
  justify-self: center;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: 0.35s;
}

.Go-Back:hover {
  background-color: rgba(37, 36, 36, 0.6);
  border: 2px solid rgba(0, 0, 0, 0.6);

  cursor: pointer;
}