@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');


/*SHARED CODE AMONG PAGES*/
:root {
  /*BASE COLORS*/
  --tourist-color: #ff6b6b;
  --driver-color: #4ecdc4;
  --dark-bg: #222;
  --text-white: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--text-white);
  overflow-x: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  background-image: 
    linear-gradient(rgba(58, 58, 58, 0.8), rgba(2, 2, 2, 0.904)), /* Top Layer: 60% Dark Tint */
    url('Pictures/athens.webp');

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

/*CODE FOR MAIN PAGE*/
.home-container {
  width: auto;
  height: auto;

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}

.Links-Main{
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.Links-Main button{
  margin: 0px 12px 0px 12px;
}

/*CSS OF TOP RIGHT ICON, SHARED ACROSS ALL PAGES*/
.Helper{
  position: absolute;
  right: 15px;
  top: 15px;

  width: 50px;
  height: 50px;
  border-radius: 26px;

  background-color: rgba(0, 0, 0, 0.144);
  border: 1px solid rgb(0, 0, 0);

  font-size: 14px;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  transition: 0.25s;

  z-index: 101;
}

.Helper:hover{
  border: 1px solid rgba(0, 102, 255, 0.744);
  background-color: rgba(70, 68, 68, 0.144);
  cursor: pointer;
}

.Help-Main{
  position: absolute;
  right: 60px;
  top: 15px;

  border-radius: 12px;

  width: 0px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 18px;
  font-weight: bold;
  background-color: rgba(5, 5, 5, 0.418);
  border: 2px solid rgba(0, 0, 0, 0.301);

  opacity: 0;

  transition: 1.15s;
}

.Help-Main.active{
  width: 450px;
  opacity: 1;
  right: 85px;

}


/* Shared code among all pages*/ 
.footer{
  width: 100vw;
  height: 60px;
  background-color: rgb(71, 70, 70);

  position: absolute;
  bottom: 0px;
  left: 0px;

  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
}

/*DRIVER*/
.CENTER-OPTIONS{
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;

  font-size: 32px;
  font-weight: 600;
}

.Options-Driver{
  width: 400px;
  height: 400px;

  position: relative;
  right: 20px;
  bottom: 20px;

  display: flex;
  margin: 25px;
  flex-direction: row;
}

.option-box{
  width: 200px;
  height: 200px;
  font-size: 26px;
  margin: 10px;

  padding: 12px;

  border-radius: 32px;
  background-color: rgba(32, 32, 32, 0.43);
  border: 3px solid rgba(0, 0, 0, 0.295);

  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);

  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.692);

  font-size: px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-weight: 700;

  transition: 0.35s;

  color: white;
}

.option-box:hover{
  border: 1px solid rgba(0, 102, 255, 0.884);
  background-color: rgba(32, 32, 32, 0.8);
  cursor: pointer;
}

.exit-button{
  width : 140px;
  height: 50px;
  
  font-size: 18px;
}

/*PASSANGER DASHBOARD CODE*/

.Pass-Dash{
  width: 450px;
  height: 100px;
  background-color: rgba(255, 240, 240, 0.096);

  border: 3px solid rgba(0, 0, 0, 0.45);

  box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.56);
  
  /*CODE TO CENTER IT OVER THE PASSANGER TAB*/
  position: absolute;
  left: 50%;
  top: -3px;
  transform: translateX(-50%);

  border-radius: 0px 0px 12px 12px;
}

.Next-Stop-1{
  font-size: 32px;
  color: rgba(255, 22, 22, 0.678);
  position: absolute;
  left: 50%;
  top: 2px;
  transform: translateX(-50%);
}

.Next-Stop-2{
  font-size: 22px;
  color: rgba(255, 255, 255, 0.658);
   position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50px;
}

/*Driver dashBoard*/

.Dri-Dash{
  width: 170px;
  height: 488px;
  background-color: rgba(77, 73, 73, 0.21);
  border: 3px solid rgba(0, 0, 0, 0.24);

  box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.32);

  border-radius: 0px 0px 12px 0px;

  position: absolute;
  left: -3px;
  top: -3px;
}

.Box{
  width: 150px;
  height: 150px;
  background-color: rgba(255, 251, 251, 0.05);
  border-radius: 12px;
  margin: 7px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;

  font-size: 24px;

  text-shadow: 2px 2px 12px black;
}

/* DRIVER VIEW CSS */

.Video-Driver{
  width: 780px;
  height: 520px;
  border-radius: 12px;

  border: 4px solid rgba(0, 0, 0, 0.434);
}

.Go-Back{
  width: 120px;
  height: 40px;
  background-color: rgba(37, 36, 36, 0.19);

  border-radius: 4px;
  border: 2px solid rgba(0, 0, 0, 0.493);

  margin-top: 20px;
  justify-self: center;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: 0.35s;
}

.Go-Back:hover {
  background-color: rgba(37, 36, 36, 0.6);
  border: 2px solid rgba(0, 0, 0, 0.6);

  cursor: pointer;
}

.Sight-Main{
  width: 900px;
  height: 540px;
  border-radius: 12px;

  background-color: rgba(172, 165, 165, 0.26);
  border: 4px solid rgba(0, 0, 0, 0.7);
}

.Sight-Block{
  width: 100% - 20px;
  height: 164px;

  border-radius: 12px;

  margin: 10px;
  background-color: rgba(201, 196, 196, 0.13);

  position: relative;
}

.Pics_Sight{
  width: 200px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;

  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.26);

  border-radius: 12px 0px 0px 12px;

  transition: 0.85s;
}

.Pics_Sight:hover{
  cursor: pointer;
  box-shadow: 2px 2px 18px rgba(0, 0, 0, 0.46);
}

.Text_Describe{
  position: absolute;
  left: 300px;
  top: 82px;

  transform: translateY(-50%);
  font-size: 44px;
  font-weight: 700;

  text-shadow: 1px 1px 12px rgba(0, 0, 0, 0.474);
}

/* Walking Mode */

.Separator{
  display: flex;
  flex-direction: row;

  display: flex;
  justify-content: center;
  
}

.Walk_Act{
  background-color: rgba(243, 0, 0, 0.6);
  border: 2px solid rgba(0, 0, 0, 0.507);
  height: 40px;

  position: relative;
  top: 20px;

  margin-right: 60px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 12px 0px 12px;

  transition: 0.35s;

  border-radius: 6px;
}

.Walk_Act:hover{
  background-color: rgba(157, 1, 1, 0.6);
  border: 2px solid rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.Walk_Act:active{
  background-color: rgba(27, 24, 24, 0.6);
}

.Map_hold{
  width: 800px;
  height: 534px;

  position: relative;
}

.map{
  width: 800px;
  height: 534px;

  border-radius: 12px;
  box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.56);
}

.Map_point{
  z-index: 102;
  background-color: red;
  border: 2px solid rgb(75, 3, 3);
  width: 24px;
  height: 24px;
  border-radius: 50%;

  position: absolute;
  left: 149px;
  top: 200px;

  animation: Map_Point_Animation 11s ease-in-out forwards;
}

@keyframes Map_Point_Animation {
  0% {
    top: 200px;
    left: 149px;
  }
  25% {
    top: 477px;
    left: 149px;
  }
  50% {
    left: 377px;
    top: 477px;
  }
  75% {
    left: 377px;
    top: 305px;
  }
  100% {
    left: 494px;
    top: 305px;
  }
}

.Cafe-Container{
  width: 800px;
  height: 520px;

  display: flex;
  flex-direction: row;
  
}

.Cafe-Left{
  width: 30%;
  height: 100%;

  background-color: rgba(255, 255, 255, 0.205);
  border-radius: 12px;

  margin-right: 40px;

  display: flex;
  justify-content: center;

  position: relative;
}

.Cafe-Right{
  width: 65%;
  height: 100%;
  border-radius: 12px;

  display: flex;
  flex-wrap: wrap;


}

.Cafe-Title{
  font-size: 28px;
  color: black;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.274);

  position: absolute;
  top: 30px;
}

.Cafe-Opt{
  width: 50%;
  height: 50%;



  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Inner-opt{
  width: 90%;
  height: 90%;
  background-color: rgba(0, 0, 0, 0.596);

  border-radius: 12px;

  transition: 0.55s;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 20px;
  font-weight: bold;

    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.973);
}

.Inner-opt:hover{
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8);
}

.Cafe-Total{
  font-size: 28px;
  position: relative;
  top: 320px;

  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.274);
}

.End-Order{
  width: 180px;
  height: 50px;
  background-color: rgba(241, 16, 16, 0.12);

  border-radius: 4px;
  border: 3px solid rgba(0, 0, 0, 0.716);
  position: absolute;
  top: 420px;

  transition: 0.55s;

  color: rgba(255, 255, 255, 0.76);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;

  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.274);
}

.End-Order:hover{
  background-color: rgba(241, 16, 16, 0.3);
  color: rgba(255, 255, 255, 0.86);
  border: 3px solid rgba(0, 0, 0, 0.85);
  cursor: pointer;
}

/* SAFETY PAGE */

.Safety_Box{
  width: 800px;
  height: 200px;

  border-radius: 12px;

  background-color: rgba(71, 67, 67, 0.541);
  border: 8px solid rgba(0, 0, 0, 0.733);

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  font-size: 38px;
  font-weight: 700;

  text-shadow: 2px 2px 12px rgba(0, 0, 0, 0.692);

  transition: 0.75s;
}

.Options_Container{
  width: 800px;
  height: 50px;
  display: flex;
  flex-direction: row;

  margin-top: 15px;
}

.Button_Safety_Option{
  width: 100px;
  height: 50px;
  background-color: rgba(85, 88, 86, 0.4);
  border: 3px solid rgba(0, 0, 0, 0.7);

  border-radius: 8px;

  margin-left: 80px;

  transition: 0.55s;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  font-size: 13px;
}

.Button_Safety_Option:hover{
  background-color: rgba(85, 88, 86, 0.55);
  border: 3px solid rgba(0, 0, 0, 0.84);
  cursor: pointer;
}

/* SOLAR CODE */

.Solar_Container{
  width: 900px;
  height: 520px;

  border-radius: 12px;


  position: relative;

  display: flex;
  align-items: center;
}

.Solar_Left{
  width: 400px;
  height: 20%;
  background-color: rgba(236, 2, 2, 0.18);
  border: 3px solid black;
  box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.6);

  position: absolute;
  left: 0px;

  border-radius: 12px;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 42px;
  font-weight: 600;

  transition: 0.45s;
}

.Solar_Left:hover{
  cursor: pointer;
}

.Solar_Right{
  width: 400px;
  height: 100%;
  background-color: rgba(20, 19, 19, 0.7);
  box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.56);

  position: absolute;
  right: 0px;

  border-radius: 12px;

  display: flex;
  justify-content: center;
}

.Solar_Right_title{
  font-size: 32px;
  position: absolute;
  top: 170px;
   text-shadow: 2px 2px 12px rgba(0, 0, 0, 0.692);
}

.Battery_Status{
  font-size: 88px;
  font-weight: 700;
  position: absolute;
  top: 230px;
  text-shadow: 2px 2px 12px rgba(0, 0, 0, 0.692);
}